#container {
    display: grid;
    width: 560px;
    height: 360px;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    padding: 0;
    margin-left: 30%;
    border: solid black 2px;
    
}

#container > div {
    min-width: 20px;
    min-height:  20px;
    border: solid black 1px;


}